#blogFooter {
	// position: fixed;
	// margin-top: 5rem;
	z-index: 50;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $tan;
	height: 15%;
	border-bottom: solid 2rem $darkpink;
}

.footer-links {
	display: flex;
	flex-flow: flex-end;
	flex-direction: row;
	align-items: flex-start;
	align-content: space-around;
	margin-left: 3rem;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	ul {
		list-style-type: none;
		width: 100%;
		margin: 0;
		padding: 0;
		a{
			font-size: 1.3rem;
		}
		.fa {
			color: $darkpink;
			display: inline-block;
			width: 1.7rem;
		}
	}
}