// home template pieces 
.homeSquare {
	max-width: 25vw;
	min-width: 10vw;
	padding: 0;
	position: relative;
	&:after {
	  content: "";
  	  display: block;
  	  padding-bottom: 100%;
	}
	&:hover {
		// filter: grayscale(100%);
		z-index: 1;
	}
}

@mixin categorySet($imageurl){
	background-image: $imageurl;
	background-size: cover;
	background-repeat: no-repeat;
}

#homeContainer {
	//set category background images 
	.code {
		@extend .homeSquare;
		@include categorySet(url('https://placekitten.com/400/400'));
	}
	.life {
		@extend .homeSquare;
		@include categorySet(url('https://placekitten.com/405/403'));
		// &:hover {
		// 	background-color: white;
		// 	opacity: 0.5;
		// }
	}
	.music {
		@extend .homeSquare;
		@include categorySet(url('https://placekitten.com/401/402'));
		// &:hover {
		// 	background-color: white;
		// 	opacity: 0.5;
		// }
	}
	.lists {
		@extend .homeSquare;
		@include categorySet(url('https://placekitten.com/400/401'));
		// &:hover {
		// 	background-color: white;
		// 	opacity: 0.5;
		// }
	}

	.excerptHover {
	  position: absolute;
	  width: 80%;
	  height: 80%;
		display: none;
		z-index: 300;
		background-color: $lightpink;
		border: .5rem solid $tan;
		opacity: 0.8;
		margin: 5%;
		padding: 1rem;
		.homeTitle{
			margin-bottom: 0;
			font-size: 2.6rem;
			color: $tan;
		}
		.homeCategory{
			margin-top: 0;
		}
		.homeDetails span{
			font-size: 1.75rem;
			text-transform: capitalize;
			color: $tan;
			&:first-of-type {
				&:after {
				  padding-left: 1.5rem;
				  content: "|";
				}
			}

			&:last-of-type {
				padding-left: 1.5rem;
			}
		}
		.homeMore{
			a{
			  color: $tan;
			  font-size: 1.5rem;
			&:hover {
				color: $darkpink;
			}
			}
		}
	}

}
.show {
	display: block;
}