<ul id="main-menu" class="side-nav fixed">
  <div class="navigation">
    <li><h1><a class="siteTitle" href="{{ site.github.url }}/">{{ site.title }}</a></h1></li>

    <li><a href="{{ site.github.url }}/coding">coding</a></li>
    <li><a href="{{ site.github.url }}/irl">#realLife</a></li>
    <li><a href="{{ site.github.url }}/photography">photography</a></li>
    <li><a href="{{ site.github.url }}/about">about me</a></li> 
    <li><a href="http://brittanyfeenstra.com" target="_blank" description="Go to my portfolio">portfolio</a></li>
    </div>
    <li><div class="divider"></div></li>

    <div class="row">
    <div class="footer-links col s12 m6">
    <li class="github"><a href="{{site.github_url}}"><i class="fa fa-github-alt"></i>Github</a></li>
    <li class="codepen"><a href="{{site.codepen_url}}"><i class="fa fa-codepen"></i>Codepen</a></li>
    <li class="linkedin"><a href="{{site.linkedin_url}}"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
    </div>
    <div class="footer-links col s12 m6">
    <li class="twitter"><a href="{{site.twitter_url}}"><i class="fa fa-twitter"></i>Twitter</a></li>
    <li class="instagram"><a href="{{site.instagram_url}}/"><i class="fa fa-instagram"></i>Instagram</a></li>
    <li class="flickr"><a href="{{ site.flickr_url }}"><i class="fa fa-flickr"></i>Flickr</a></li> 
    </div>
  </ul>
  <a href="#" data-activates="main-menu" class="button-collapse"><i class="material-icons">menu</i></a>




