<ul id="main-menu" class="side-nav">
  <div class="navigation">
    <li><h1><a class="siteTitle" href="{{ site.url }}/photography">{{ site.title }}<span>{{ site.photo_subtitle }}</span></a></h1></li>

    <li><a class="link disabled_link" href="{{ site.url }}/photography/music">music</a></li>
    <li><a class="link disabled_link" href="{{ site.url }}/photography/lifestyle">lifestyle</a></li>
    <li><a class="link disabled_link" href="{{ site.url }}/photography/travel">travel</a></li>
    <li><a class="link" href="{{ site.url }}/projects" description="Back to Portfolio">back to projects</a></li>
    <li><a class="link" href="{{ site.url }}/blog" description="Back to Main">back to blog</a></li>
  </div>
    <li><div class="divider"></div></li>
    <p class="navigation_description">
      I’m a developer most of the time, but back in 2012 I started taking concert photos. I just love the art of capturing motion! From 2012 through 2016 I shot for <a class="link" href="kexp.org" target="_blank" title="KEXP's blog">KEXP.org</a>, an amazing radio station based out of Seattle, shooting 100s of bands during my time there. My husband &amp; I recently moved to Phoenix, and I'm looking to get plugged in the PHX scene.
      <i class="fa fa-camera-retro" aria-hidden="true"></i>
    </p>


  </div>
  </ul>
  <a href="#" data-activates="main-menu" class="button-collapse"><i class="material-icons">menu</i></a>
