<ul id="main-menu" class="side-nav">
  <div class="navigation">
    <li><h1><a class="siteTitle" href="{{ site.url }}/blog">{{ site.title }}<span>{{ site.photo_subtitle }}</span></a></h1></li>

    <li><a class="link disabled_link" href="{{ site.url }}/photography/music">music</a></li>
    <li><a class="link disabled_link" href="{{ site.url }}/photography/lifestyle">lifestyle</a></li>
    <li><a class="link disabled_link" href="{{ site.url }}/photography/nature">nature</a></li>
    <li><a class="link disabled_link" href="{{ site.url }}/photography/travel">travel</a></li>
    <li><a class="link" href="{{ site.url }}" description="Back to Main">back to blog</a></li>
    </div>
    <li><div class="divider"></div></li>
    <p class="navigation_description">here's a little blurb about my photography Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
  </div>
  </ul>
  <a href="#" data-activates="main-menu" class="button-collapse"><i class="material-icons">menu</i></a>
