<ul id="main-menu" class="side-nav">
  <div class="navigation">
    <li><h1><a class="siteTitle" href="{{ site.url }}">{{ site.portfolio_title }}<span>{{ site.portfolio_subtitle }}</span></a></h1></li>
    <li><a class="link" href="{{ site.url }}/blog" description="go to blog">blog</a></li>
    <li><a class="link" href="{{ site.url }}/photography">photography</a></li>
    <li><a class="link" href="{{ site.url }}/contact" description="go to about me">about me</a></li>
    <li><a class="link" href="{{site.creddle_url}}" target="_blank" description="view resume pdf">download resume</a></li>
    </div>
    <li><div class="divider"></div></li>
    <div class="row">
        <div class="footer-links col s12 m6">
            <li class="github"><a class="link" href="{{site.github_url}}"><i class="fa fa-github-alt"></i>Github</a></li>
            <li class="codepen"><a class="link" href="{{site.codepen_url}}"><i class="fa fa-codepen"></i>Codepen</a></li>
            <li class="linkedin"><a class="link" href="{{site.linkedin_url}}"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
        </div>
        <div class="footer-links col s12 m6">
            <li class="twitter"><a class="link" href="{{site.twitter_url}}"><i class="fa fa-twitter"></i>Twitter</a></li>
            <li class="instagram"><a class="link" href="{{site.instagram_url}}/"><i class="fa fa-instagram"></i>Instagram</a></li>
            <li class="flickr"><a class="link" href="{{ site.flickr_url }}"><i class="fa fa-flickr"></i>Flickr</a></li>
        </div>
    </div>

  </div>
  </ul>
  <a href="#" data-activates="main-menu" class="button-collapse"><i class="material-icons">menu</i></a>
