#blogFooter {
	z-index: 50;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $tan;
	border-bottom: solid .5rem $darkpink;
	position: fixed;
	border-top: solid .3rem $teal;
	quote {
		padding-top: .35rem;
		font-size: .6rem;
	}

}

.footer-links {
	display: flex;
	flex-flow: flex-end;
	flex-direction: row;
	align-items: flex-start;
	align-content: space-around;
	margin-left: 2.5rem;
	padding-top: .35rem;
	padding-bottom: .35rem;
	ul {
		list-style-type: none;
		width: 100%;
		margin: 0;
		padding: 0;
		a{
			font-size: .5rem;
		}
		.fa {
			color: $darkpink;
			display: inline-block;
			width: .6rem;
		}
	}
}