// home template pieces 
.homeSquare {
	padding: 0;
	position: relative;
	&:after {
	  content: "";
  	  display: block;
  	  padding-bottom: 100%;
	}
	&:hover {
	  z-index: 1;
	}
}

@mixin categorySet($imageurl){
	background-image: $imageurl;
	background-size: cover;
	background-repeat: no-repeat;
}

#homeContainer {
	//set category background images 
	.code {
		@extend .homeSquare;
		background-size: cover;
		background-repeat: no-repeat;

		// @include categorySet(url('{{ site.github.url }}/images/code2.jpg'));
	}
	.life {
		@extend .homeSquare;
		background-size: cover;
		background-repeat: no-repeat;
		// @include categorySet(url('/images/irl1.jpg'));
	}
	.music {
		@extend .homeSquare;
		background-size: cover;
		background-repeat: no-repeat;
		// @include categorySet(url('/images/irl2.jpg'));
	}
	.lists {
		@extend .homeSquare;
		background-size: cover;
		background-repeat: no-repeat;
		// @include categorySet(url('/images/lists1.jpg'));
	}

	.hoverWhitespace{
		padding-left: 15%;
	}
	.excerptHover {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  display: none;
	  z-index: 300;
	  background-color: $lightpink;
	  // border: .1rem solid $tan;
	  opacity: 0.9;
		.homeTitle{
			margin-bottom: 0;
			@extend .hoverWhitespace;
			font-size: 1.5rem;
			color: $tan;
		}
		.homeCategory{
			@extend .hoverWhitespace;
			font-size: .7rem;
			margin-top: 0;
		}
		.homeDetails span{
			font-size: .6rem;
			text-transform: capitalize;
			color: $tan;
			@extend .hoverWhitespace;

			&:first-of-type {
				&:after {
				  padding-left: .5rem;
				  content: "|";
				}
			}

			&:last-of-type {
				padding-left: .5rem;
			}
		}
		.homeMore{
			@extend .hoverWhitespace;

			a{
			  color: $tan;
			  font-size: .6rem;
			&:hover {
				color: $darkpink;
			}
			}
		}
	}
}
.show {
	display: block;
}

.homePost {
	margin-top: 1rem;
	display: flex;
	flex-direction: row; /* split for smaller screens */
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	article {
		width: 60vw;
		margin: 0 auto;
		// display: inline-block;
	}
	// .homeAbout {
	// 	// display: inline;
	// 	width: 30%;
	// 	margin: 0 auto;
	// 	// margin: 2rem auto 1rem 15vw;
	// 	border-bottom: .1rem solid $tan_bg;
	// 	p {
	// 		font-size: .8rem;
	// 		text-align: justify;
	// 	}
	// }
}