.fp-slidesNav {
  left: 31vw;
}
.latest_slide {
	width: 100vw;
	height: 80vh;
  margin-top: 0;
  padding-top: 0;
  .fp-tableCell {
    vertical-align: top;
  }
	.image {
    background-color: transparent;
  	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: top;
    height: 75vh;
    width: 100%;
  }

}
.photo_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 3rem;
  // margin: -5% auto 0;
  &.first_label {
    // margin-top: 39vh;
  }
  .title {
    margin: 0 auto;
    height: 100%;
    font-weight: 600;
    font-size: 1rem;
  }
  .details{
    font-weight: 400;
    font-size: .8rem;
  }
}

#shows_dandeacon_pickathon_2016 {
  background-image: url('../images/photo-shows/dandeacon_pickathon_2016.jpg');
}
#shows_modernenglish_neumos_2016 {
  background-image: url('../images/photo-shows/modernenglish_neumos_2016.jpg');
}
#shows_tysegall_pickathon_2016 {
  background-image: url('../images/photo-shows/tysegall_pickathon_2016.jpg');
}
#shows_gallant_showbox_2016 {
  background-image: url('../images/photo-shows/gallant_showbox_2016.jpg');
}
#shows_vincestaples_sasquatch_2016 {
  background-image: url('../images/photo-shows/vincestaples_sasquatch_2016.jpg');
}
#shows_metz_barboza_2016 {
  background-image: url('../images/photo-shows/metz_barboza_2016.jpg');
}#shows_preoccupations_neumos_2016 {
  background-image: url('../images/photo-shows/preoccupations_neumos_2016.jpg');
}
#shows_navvi_neptune_2016 {
  background-image: url('../images/photo-shows/navvi_neptune_2016.jpg');
}
#shows_savages_sasquatch_2016 {
  background-image: url('../images/photo-shows/savages_sasquatch_2016.jpg');
}
#shows_diarrehaplanet_tractor_2016 {
  background-image: url('../images/photo-shows/diarrehaplanet_tractor_2016.jpg');
}
#shows_shamir_sasquatch_2016 {
  background-image: url('../images/photo-shows/shamir_sasquatch_2016.jpg');
}
#shows_kinggizzard_sasquatch_2016 {
  background-image: url('../images/photo-shows/kinggizzard_sasquatch_2016.jpg');
}
#shows_andersonpaak_bumbershoot_2016 {
  background-image: url('../images/photo-shows/andersonpaak_bumbershoot_2016.jpg');
}
#shows_donormaal_chbp_2016 {
  background-image: url('../images/photo-shows/donormaal_chbp_2016.jpg');
}
#shows_dinnerprincerama_barboza_2016 {
  background-image: url('../images/photo-shows/dinnerprincerama_barboza_2016.jpg');
}
#shows_headwoundcity_chacha_2016 {
  background-image: url('../images/photo-shows/headwoundcity_chacha_2016.jpg');
}
#shows_lapsley_chopsuey_2016 {
  background-image: url('../images/photo-shows/lapsley_chopsuey_2016.jpg');
}


.navigation_description {
  padding: 0 .5rem 1rem;
  font-size: .6rem;
  line-height: .8rem;
  a.link{
    color: $teal;
    display: inline !important;
    padding: 0 !important;
    line-height: .6rem !important;
    font-size: .6rem !important;

  }
}

.side-nav li > a.link.disabled_link {
  color: tan_bg !important;
  &:hover {
    color: tan_bg !important;
  }
}

.photo_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: .5rem;
  margin-right: 1rem;
  font-size: .6rem;
  text-align: right;
  padding-bottom: .15rem;
  i.fa {
    padding-right: .25rem;
  }

}
@media (max-width: 800px){
  .fp-slidesNav.bottom {
    display: none;
  }
  .latest_slide {
    margin-top: 2rem;
  	min-height: 40vh;
  	.image {
      min-height: 400px;
      max-height: 80vh;
      width: 100%;
      background-size: cover;
      padding: 2rem;
      text-align: right;
    }
    .first-slide {
      &::before {
        content: 'swipe for more!';
        color: rgba(244,244,244,0.5);
        vertical-align: center;
        height: 100%;
        padding: 0 auto;
      }
    }
  }
}
