// mixins 
@mixin linearGradient($top, $middle, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 40%, $middle 85%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(85%,$middle), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 40%,$middle 85%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 40%,$middle 85%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 40%,$middle 85%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 40%,$middle 85%,$bottom 100%); /* W3C */
}
/*site variables */

$primary_link: purple;
$accent_one: red; // accent lines, bigger accent
$tan: #EFD5C8;
$lightpink: #D78AB1;
$darkpink: #C15492;
$teal: #00b5Ac;
$yellow: #dced31;
$tan_bg: rgba(239,213,200,0.5);
$lightpink_bg: rgba(215, 138, 177, 0.2);
$darkpink_bg: rgba(193, 84, 146, 0.5);
$teal_bg: rgba(0,181, 172, 0.8);
$yellow_bg: rgba(220,237,49, 0.5);
$darkgray: #2f4f4f;
$white: #fff;


/*Globals */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*root em */

html, body {
	height: 100%;
}
html {
  font-size: calc(1em + 1vw);
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
  // @include linearGradient($tan_bg, $yellow_bg, $darkpink_bg);
}

#main-content {
	display: block;
	// height: 90%;
  margin-bottom: 3.3rem;
  margin-top: -2rem;
}

/* text basics */
a {
	color: $teal;
  &:hover {
    color: $teal_bg;
    text-decoration: none;
  }
}

h1{
  font-size: 2rem;
}
h2{
  font-size: 1.8rem;
  color: $darkpink;
}
a > h2:hover {
  color: $lightpink;
}
h3{
  font-size: 1.6rem;
}
h4{
  font-size: 1.4rem;
}
h5{
  font-size: 1.2rem;
}

p {
  font-size: .8rem;
}


@media (max-width: 660px){
  #main-content {
    margin-bottom: 8rem;
  }

}


