<div id="blogFooter">
	<div class="row">
		<div class="col-sm-4 footer-links">
		<ul class="pull-left">
	        <li class="github"><a href="{{site.github_url}}"><i class="fa fa-github-alt"></i>Github</a></li>
	        <li class="codepen"><a href="{{site.codepen_url}}"><i class="fa fa-codepen"></i>Codepen</a></li>
	        <li class="linkedin"><a href="{{site.linkedin_url}}"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
	    </ul>
		<ul>
			<li class="twitter"><a href="{{site.twitter_url}}"><i class="fa fa-twitter"></i>Twitter</a></li>
	        <li class="instagram"><a href="{{site.instagram_url}}/"><i class="fa fa-instagram"></i>Instagram</a></li>
	        <li class="flickr"><a href="{{ site.flickr_url }}"><i class="fa fa-flickr"></i>Flickr</a></li> 
		</ul>
		</div>
		<div class="col-sm-6">
		<p>footer blurb</p>
		</div>
	</div>
</div>