---
layout: default
---
<div class="postContainer" id="aboutContainer">
  <article>

  <h1>{{ page.title }} //</h1>

  <div>
  	<img class="aboutImage" src="/images/brittany.jpg" />
  	<p><a href="{{site.twitter_url}}" title="@brittanyIRL"><i class="fa fa-twitter" aria-hidden="true"></i> follow me!</a></p>
  	<p>I’m a web developer. All things code excite me. I am a nerd to the core. But I can talk your ear off about different types and shades of lipstick, what the best Friday the 13th movie really is (it’s the 3rd one), or make you one mean german chocolate cake. All of that to try and summarize – I am who I am who I am and I don’t intend on giving up what I love just because I also need to make a living (go figure!).</p>
 </div>

</article>