---
layout: about_default
---
<div class="postContainer" id="aboutContainer">
  <article>

  <h1>{{ page.title }} //</h1>

  <div>
  	<img class="aboutImage" src="{{ site.github.url }}/images/brittany.jpg" />
  	<p><a class="link" href="{{site.twitter_url}}" title="@brittanyIRL"><i class="fa fa-twitter" aria-hidden="true"></i> follow me!</a></p>
  	<p>Hi! I'm Brittany, I'm a front end web developer with a big imagination and major determination. Yes, <a class="link" href="https://media.tenor.com/images/a910fa634914cc45f643d0950914490a/tenor.gif" target="_blank">I love technology</a>, but not as much as real life, you see - I love to go outside and explore, see live music, cook, and a billion other things. I love classic science fiction and the fast and furious franchise. My favorite Nicholas Cage movie is Valley Girl. Velociraptors are often chasing me in my dreams because I watched Jurassic Park when I was very small (and I love it).</p>
  	<p>My husband and I just relocated from Seattle to Phoenix and I'm really enjoying the sunshine. I work for a really awesome company based in Seattle. I love what I do.</p>
    <p>I want to be more organized with my thoughts and processes, thus this blog. I promise you nothing out of reading any of this. I'm just trying to get my thoughts in order in a transparent and shareable manner just incase they can help other people out there.</p>
  	<p>Fun fact: I made this whole thing. The part about blogging I actually like is the dev work behind it. So this blog is 100% jeykll driven and coded by yours truly. It will ALWAYS be a work in progress, and chances are the code will be updated much more frequently than the content.</p>
    <div class="box">
      <h5>emails-tweets-smokesignals</h5>
      <p>Want to connect? Find me on any of the below sites, or drop me an email(<a class="link" href="mailto:brittany.feenstra@gmail.com" title="brittany.feenstra@gmail.com">brittany.feenstra@gmail.com</a>).</p>
      <ul class="external-links horizontal_list">
        <li class="github"><a href="{{site.github_url}}"><i class="fa fa-github-alt"></i>Github</a></li>
        <li class="codepen"><a href="{{site.codepen_url}}"><i class="fa fa-codepen"></i>Codepen</a></li>
        <li class="linkedin"><a href="{{site.linkedin_url}}"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
        <li class="twitter"><a href="{{site.twitter_url}}"><i class="fa fa-twitter"></i>Twitter</a></li>
        <li class="instagram"><a href="{{site.instagram_url}}"><i class="fa fa-instagram"></i>Instagram</a></li>
        <li class="flickr"><a href="{{site.flickr_url}}"><i class="fa fa-flickr"></i>Flickr</a></li>
      </ul>
    </div>
 </div>

</article>
