---
layout: photo_base
# to update this page, put new pdf img slides in and
# then update the issue tag
---
<div id="fullpage_latest">
  <div class="section">
    <div class="slide latest_slide">
      <div class="first-slide image" id="shows_savages_sasquatch_2016"></div>
      <div class="photo_label first_label"><p class="title">Savages <span class="details"> at Sasquatch! Festival 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_gallant_showbox_2016"></div>
      <div class="photo_label"><p class="title">Gallant <span class="details"> at Showbox at the Market in Seattle, WA 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_dinnerprincerama_barboza_2016"></div>
      <div class="photo_label"><p class="title">Prince Rama and Dinner <span class="details"> at Barboza in Seattle, WA 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_headwoundcity_chacha_2016"></div>
      <div class="photo_label"><p class="title">Headwound City <span class="details"> at Cha Cha Lounge in Seattle, WA 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_metz_barboza_2016"></div>
      <div class="photo_label"><p class="title">Metz <span class="details"> at Barboza in Seattle, WA 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_lapsley_chopsuey_2016"></div>
      <div class="photo_label"><p class="title">Lapsley <span class="details"> at Chopsuey in Seattle, WA 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_andersonpaak_bumbershoot_2016"></div>
      <div class="photo_label"><p class="title">Anderson Paak <span class="details"> at Bumbershoot Festival 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_modernenglish_neumos_2016"></div>
      <div class="photo_label"><p class="title">Modern English <span class="details"> at Neumos in Seattle, WA 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_donormaal_chbp_2016"></div>
      <div class="photo_label"><p class="title">Do Normaal <span class="details"> at CHBP in Seattle, WA 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_kinggizzard_sasquatch_2016"></div>
      <div class="photo_label"><p class="title">King Gizzard and the Lizard Wizard <span class="details"> at Sasquatch! 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_navvi_neptune_2016"></div>
      <div class="photo_label"><p class="title">Navvi <span class="details"> at Neptune in Seattle, WA 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_preoccupations_neumos_2016"></div>
      <div class="photo_label"><p class="title">Preoccupations <span class="details"> at Neumos in Seattle, WA 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_vincestaples_sasquatch_2016"></div>
      <div class="photo_label"><p class="title">Vince Staples <span class="details"> at Sasquatch! 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_shamir_sasquatch_2016"></div>
      <div class="photo_label"><p class="title">Shamir <span class="details"> at Sasquatch! 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_tysegall_pickathon_2016"></div>
      <div class="photo_label"><p class="title">Ty Segall <span class="details"> at Pickathon in Pendarvis, OR 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_diarrehaplanet_tractor_2016"></div>
      <div class="photo_label"><p class="title">DP <span class="details"> at Tractor Tavern in Seattle, WA 2016 (KEXP)</span></p></div>
    </div>
    <div class="slide latest_slide">
      <div class="image" id="shows_dandeacon_pickathon_2016"></div>
      <div class="photo_label"><p class="title">Dan Deacon <span class="details">at Pickathon in Pendarvis, OR 2016 (KEXP)</span></p></div>
    </div>
  </div>
</div>
