---
layout: portfolio_base
---
<div class="flex_row">
  <div class="flex_child column_container">
    <h2 class="portfolio_title">Project Name</h2>
    <p class="portfolio_subtitle">
      <span>category</span>
      <span>date</span>
    </p>
    <div class="portfolio_body">
      <p>jalkdjfalkjfdlakjdfla jdlkjadlfjaldfjalkfjdlkaf</p>
    </div>
    <div class="portfolio_image">
      <img src="http://pipsum.com/600x300.jpg">
    </div>
    <div class="portfolio_links">
      <a href="#" class="link">source code</a>
      <a href="#" class="link">visit site</a>
    </div>
  </div>

  <div class="flex_child column_container">
    <h2 class="portfolio_title">Project Name</h2>
    <p class="portfolio_subtitle">
      <span>category</span>
      <span>date</span>
    </p>
    <div class="portfolio_body">
      <p>jalkdjfalkjfdlakjdfla jdlkjadlfjaldfjalkfjdlkaf</p>
    </div>
    <div class="portfolio_image">
      <img src="http://pipsum.com/600x300.jpg">
    </div>
    <div class="portfolio_links">
      <a href="#" class="link">source code</a>
      <a href="#" class="link">visit site</a>
    </div>
  </div>

  <div class="flex_child column_container">
    <h2 class="portfolio_title">Project Name</h2>
    <p class="portfolio_subtitle">
      <span>category</span>
      <span>date</span>
    </p>
    <div class="portfolio_body">
      <p>jalkdjfalkjfdlakjdfla jdlkjadlfjaldfjalkfjdlkaf</p>
    </div>
    <div class="portfolio_image">
      <img src="http://pipsum.com/600x300.jpg">
    </div>
    <div class="portfolio_links">
      <a href="#" class="link">source code</a>
      <a href="#" class="link">visit site</a>
    </div>
  </div>


  <div class="flex_child column_container">
    <h2 class="portfolio_title">Project Name</h2>
    <p class="portfolio_subtitle">
      <span>category</span>
      <span>date</span>
    </p>
    <div class="portfolio_body">
      <p>jalkdjfalkjfdlakjdfla jdlkjadlfjaldfjalkfjdlkaf</p>
    </div>
    <div class="portfolio_image">
      <img src="http://pipsum.com/600x300.jpg">
    </div>
    <div class="portfolio_links">
      <a href="#" class="link">source code</a>
      <a href="#" class="link">visit site</a>
    </div>
  </div>
</div>

<div class="box">
<div class="flex_row flex_justify_start">
  <div class="flex_child flex_grow_2 no_margin">
    <h5>My day to day</h5>
    <p>I'm a front-end dev over at Brown Paper Tickets in Seattle, WA (I work remote from Phoenix). We're in the middle of some really cool stuff right now that I can't wait to be able to share. I spend my days in javascript, sass, templating frameworks like mustache and thinking through best practices.</p>
  </div>
  <div class="flex_child no_margin">
  <h5>Side hustles</h5>
    <ul>
      <li>Releasing my 1st react native app this fall!</li>
      <li>Learning to DJ vinyl</li>
    </ul>
  </div>
</div>
<div class="flex_row flex_justify_start flex_row_no_wrap">
  <div class="flex_child no_margin">
    <h5>Education</h5>
      <ul>
        <li>WDI Program, GA '15</li>
        <li>B.A. in Sociology, SPU '12</li>
      </ul>
  </div>
  <div class="flex_child no_margin">
    <h5>Past lives</h5>
      <ul>
        <li>Marketing Director</li>
        <li>Accountant</li>
        <li>Retail Buyer</li>
        <li>Barista</li>
      </ul>
  </div>
  <div class="flex_child no_margin">
    <h5>Toolbox</h5>
      <ul>
        <li>Familiar with Adobe Suite</li>
        <li>Excellent Googling skills</li>
        <li>Endless music knowledge</li>
        <li>Concert Photographer</li>
      </ul>
  </div>
</div>
</div>
