---
# default layout
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }} : {{ site.subtitle }}</title>

    {% include meta.html %}
    {% include portfolio_styles.html %}
    <style>
    #landing_two {
      display: none;
    }
    </style>
  </head>

  <body>
  <div class="site_entry" id="landing_one">
    <h1>Hey, I'm Brittany.</h1>
    <h2> This is my playground for dev work, thoughts, and anything else I want to share with the world.</h1></h2>
    <div id="landing_two">
      <p><a href="{{ site.url }}/projects">Development</a></p>
      <p><a href="{{ site.url }}/photography">Photography</a></p>
      <p><a href="{{ site.url }}/blog">Writing</a></p>
    </div>
  </div>

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    {% include portfolio_javascript.html %}
    <script src="{{ site.url }}/javascript/landing.js" type="text/javascript"></script>

    {% include analytics.html %}
  </body>
</html>
