---
layout: portfolio_base
---
<div class="flex_row">
  <div class="flex_child column_container">
    <h2 class="portfolio_title">Every Little Counts Website</h2>
    <p class="portfolio_subtitle">
      <span>A creative outlet</span>
      <span>Fall 2016</span>
    </p>
    <div class="portfolio_body">
      <p>Every Little Counts (ELC) is a creative entity my husband and I created together to give our various projects an internet home. I designed, built and maintain the site via github pages.</p>
    </div>
    <div class="portfolio_image">
      <img src="{{ site.github.url }}/images/examples/elc.png">
    </div>
    <div class="portfolio_body">
        <ul>Technologies used:
          <li>Javascript</li>
          <li>CSS3+HTML5</li>
          <li>Github Pages</li>
          <li>Animations</li>
          <li>Materialize Framework</li>
        </ul>
    </div>
    <div class="portfolio_links">
      <a href="https://github.com/BrittanyIRL/elccreative" class="link">source code</a>
      <a href="http://www.elccreative.com" class="link">visit site</a>
    </div>
  </div>

  <div class="flex_child column_container">
    <h2 class="portfolio_title">Legends 2 Heaven</h2>
    <p class="portfolio_subtitle">
      <span>Fun with Animations</span>
      <span>Summer 2016</span>
    </p>
    <div class="portfolio_body">
      <p>Mourning David Bowie with jQuery animation. There's a lot to be said for animating well online, most animations aren't really necessary and these ones are no exception!</p>
      <p>However, my favorite way to learn is by application, and I was (am still) mourning the loss of David Bowie from earth, so I decided to make my mourning educational for myself about animation. Here you can use your arrow keys to guide some of the legends we lost in 2016 to the pearly gates of heaven.</p>
    </div>
    <div class="portfolio_image">
      <img src="{{ site.github.url }}/images/examples/legends.png">
    </div>
    <div class="portfolio_links">
      <a href="http://brittanyirl.github.io/legendsNeverDie/" class="link">source code</a>
      <a href="https://github.com/BrittanyIRL/legendsNeverDie" class="link">visit site</a>
    </div>
  </div>
</div>

<div class="flex_row">
  <div class="flex_child column_container">
    <h2 class="portfolio_title">Visualizing Pain</h2>
    <p class="portfolio_subtitle">
      <span>Data Visualization</span>
      <span>Winter 2016</span>
    </p>
    <div class="portfolio_body">
      <p>This was a project I originally did for a nonprofit group called Reboot Safety in the wake of the 2016 presidential election as there was a significant spike in verbal and physical abuse towards minorities in America.</p>
      <p>Reboot safety is a tech nonprofit focused on helping recognize and support the power of every individual's contribution to safe, prosperous communities; this project was part of an initiative to begin aggregating data about harassment and discrimination to use at hackathons.
      </p>
    </div>
    <div class="portfolio_image">
      <img src="{{ site.github.url }}/images/examples/visualizingpain.png">
    </div>
    <div class="portfolio_body">
        <ul>Technologies used:
          <li>Javascript</li>
          <li>CSS3+HTML5</li>
          <li>Heroku</li>
          <li>D3.js</li>
          <li>Socket.io</li>
          <li>Twitter</li>
        </ul>
    </div>
    <div class="portfolio_links">
      <a href="https://github.com/RebootSafety/dayone" class="link">source code</a>
    </div>
  </div>

  <div class="flex_child column_container">
    <h2 class="portfolio_title">Mints</h2>
    <p class="portfolio_subtitle">
      <span>Choose your own adventure game</span>
      <span>Fall 2016</span>
    </p>
    <div class="portfolio_body">
      <p>Mints is a choice based adventure game based in python that I made for fun with my husband. The story is his, but I programmed the ren'py game engine. It was a really fun break from the normal technologies I use.</p>
    </div>
    <div class="portfolio_image">
      <img src="{{ site.github.url }}/images/examples/mintspreview.png">
    </div>
    <div class="portfolio_links">
      <a href="https://github.com/BrittanyIRL/pills" class="link">source code</a>
      <a href="http://www.elccreative.com/mints.html" class="link">visit site</a>
    </div>
  </div>
</div>
<div class="flex_row">
  <div class="flex_child column_container">
    <h2 class="portfolio_title">Next up</h2>
    <p class="portfolio_subtitle">
      <span>What I'm working on now</span>
      <span>Present</span>
    </p>
    <div class="portfolio_body">
      <p>Honestly, my day job takes up most of my energy these days, BUT - I'm making time to build a releasable version of an app I've prototyped a few times in React Native. It started in Angular, but AngularJS's evolution to Angular2 made me feel like the application I'm building would be better off in React given the nature of the different views and content. I've been taking a few night classes on it and am getting closer all the time.</p>
    </div>
    <div class="portfolio_image">
      <img src="https://media1.giphy.com/media/DSr5rDEaEZV9m/giphy.gif">
    </div>
    <div class="portfolio_body">
      <p>I'm also building a different jekyll (like this site) project for a new thing that my husband and I are endeavoring on, it's a zine of sorts combined with music and arts. The site was really fun to build and I am excited to release a URL for it sometime in the future.</p>
    </div>
  </div>

  <div class="flex_child column_container">
    <h2 class="portfolio_title">Other sites</h2>
    <p class="portfolio_subtitle">
      <span>Various projects</span>
      <span>2016 - present</span>
    </p>
    <div class="portfolio_body">
      <p>Sometimes I help build websites or apps for small businesses or friends/family. Usually this just means some heavy modification of a wordpress theme, and whatever the situation, it's always great to help these small business owners feel empowered to make their own futuer web changes (if they want!).</p>
      <ul class="ul_vertical">
        <li><a class="link" href="https://www.keytcservices.com/">Key TC Services</a> - wordpress theme overrides and forcing screen responsiveness.
        <li>In-app info sheets for <a href="https://www.mastinlabs.com/" class="link">Mastin Labs</a>.</li>
        <li><a href="https://github.com/cestlou/MadLibs/wiki" class="link">RoR Madlib App Workshop</a> for ChickTech's Seattle Chapter.</li>
      </ul>
    </div>
  </div>
</div>

<div class="box">
<div class="flex_row flex_justify_start">
  <div class="flex_child flex_grow_2 no_margin">
    <h5>My day to day</h5>
    <p>I'm a front-end dev over at Brown Paper Tickets in Seattle, WA (I work remote from Phoenix). We're in the middle of some really cool stuff right now that I can't wait to be able to share. I spend my days in javascript, sass, templating frameworks like mustache and thinking through best practices.</p>
  </div>
  <div class="flex_child no_margin">
  <h5>Nights &amp; weekends</h5>
    <ul>
      <li>Releasing my 1st react native app this winter!</li>
      <li>Learning to DJ vinyl</li>
      <li>Taking pictures</li>
      <li>Lots of cooking</li>
      <li>Tending my cactus garden</li>
    </ul>
  </div>
</div>
<div class="flex_row flex_justify_start flex_row_no_wrap">
  <div class="flex_child no_margin">
    <h5>Education</h5>
      <ul>
        <li>WDI Program, GA '15</li>
        <li>B.A. in Sociology, SPU '12</li>
      </ul>
  </div>
  <div class="flex_child no_margin">
    <h5>Past lives</h5>
      <ul>
        <li>Marketing Director</li>
        <li>Accountant</li>
        <li>Retail Buyer</li>
        <li>Barista</li>
      </ul>
  </div>
  <div class="flex_child no_margin">
    <h5>Toolbox</h5>
      <ul>
        <li>Familiar with Adobe Suite</li>
        <li>Excellent Googling skills</li>
        <li>Endless music knowledge</li>
        <li>Concert Photographer</li>
      </ul>
  </div>
</div>
</div>
